body {
  background-color: #788b9e;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color:rgb(0, 255, 55);
}

.delete-btn {
  background-color: red;
  padding: 5px 8px;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: darkred;
}

